.apartement_grid {
    background-color: #F6F6F6;
    border-radius: 25px;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    flex-wrap: wrap;
    padding: 20px 0;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .apartement_grid {
        background-color: white;
        margin-bottom: 0;
        gap : 20px;
    }
}   