@mixin flex-center($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin responsive-img($height) {
  width: 100%;
  height: $height;
  border-radius: 25px;
  object-fit: cover;
}

@mixin media($query) {
  @media screen and #{$query} {
    @content;
  }
}

@mixin transition($properties, $duration: 0.2s, $timing-function: ease-in-out) {
  transition: $properties $duration $timing-function;
}

@mixin hover-effect($scale: 1.05) {
  &:hover {
    cursor: pointer;
    transform: scale($scale);
  }
}

@mixin font-style($size, $weight: normal, $color: $black-color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  text-align: center;
  word-break: break-word;
}
