@import '../variables/colors.scss';
@import '../variables/mixins.scss';

.main {
  padding-inline: 50px;

  a {
    text-decoration: none;
  }

  @include media('(max-width: 768px)') {
    padding-inline: 20px;
  }
}

body {
  margin: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
