.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    & p {
        color: #ff6060;
        font-weight: 500;
        font-size: 36px;
        margin-top: 180px;
        margin-bottom: 100px;
    }
    .link-404 {
        text-decoration: underline;
        font-size: 18px;
        font-weight: 500;  
    }
}