@import '../variables/colors.scss';
@import '../variables/mixins.scss';

.error {
  @include flex-center(column, center, center);
  gap: 139px;

  .pic-404 {
    @include font-style(288px, 700, $primary-color);
    margin-top: 63px;
    margin-bottom: 0;
  }

  .text-404 {
    @include font-style(36px, 500, $primary-color);
  }

  .link-404 {
    text-decoration: underline;
    @include font-style(18px, 500);
    margin-bottom: 140px;
  }

  @include media('(max-width: 768px)') {
    .pic-404 {
      font-size: clamp(96px, 10vw + 60px, 288px);
    }

    .link-404 {
      font-size: clamp(14px, 1.5vw, 18px);
    }
  }

  @include media('(max-width: 1024px)') {
    gap: 113px;

    .text-404 {
      font-size: clamp(18px, 4vw, 36px);
    }

    .second-line {
      display: block;
    }

    .link-404 {
      margin-bottom: 113px;
    }
  }
}
