.footer {
    height: 209px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: end;

    .footerContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        & p {
            margin-top: 60px;
        }
    }
}