@import '../variables/colors.scss';
@import '../variables/mixins.scss';

.footer {
  height: 209px;
  color: $white-color;
  background-color: $black-color;
  padding: 20px;
  @include flex-center(row, center, center);

  img {
    margin-bottom: 50px;
  }

  .footerContent {
    @include flex-center(column, center, center);
    @include font-style(24px, 500, $white-color);
    margin-top: 50px;

    @include media('(max-width: 768px)') {
      font-size: clamp(12px, 2vw, 24px);
      margin-top: 10px;

      img {
        margin-bottom: 10px;
        margin-top: 50px;
      }

      .second-line {
        display: block;
      }
    }
  }
}
