@import '../variables/colors.scss';
@import '../variables/mixins.scss';

.About-details {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;

  @include media('(max-width: 768px)') {
    margin: 0;
    margin: 20px 0;
    width: 100%;
  }
}

.apartment-description {
  margin-bottom: 27px;

  @include media('(max-width: 768px)') {
    flex-direction: column;
  }
  .title {
    background-color: $primary-color;
    color: $white-color;
    padding: 10px;
    border-radius: 10px;
    @include flex-center(row, space-between, center);
    i {
      cursor: pointer;
      font-size: 24px;
      transition: transform 0.3s ease-in-out;
      &.rotate {
        transform: rotate(180deg);
      }
    }
  }
  .description-content {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    padding: 0 20px;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out,
      padding 0.3s ease-in-out;
    background-color: $secondary-color;
    color: $black-color;
    border-radius: 10px;
    position: relative;
    z-index: -1;
    top: -0.3rem;
    &.open {
      max-height: 600px;
      opacity: 1;
      padding: 20px;
    }
  }
  p {
    margin: 0;
  }
}
.apartment-details__container {
  display: flex;
  gap: 4.8rem;
  li {
    list-style: none;
  }
  .apartment-description {
    flex-basis: 50%;
  }
  @include media('(max-width: 768px)') {
    flex-direction: column;
    gap: 0;
    .apartment-description {
      flex-basis: 100%;
    }
  }
}