.apartment-description {
  margin-bottom: 27px;

  &.About-details {
    margin: 0 150px 20px;
    @media screen and (max-width: 768px) {
      margin: 0;
      margin-bottom: 19px;
    }
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  .title {
    background-color: #ff6060;
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    i {
      cursor: pointer;
      font-size: 24px;
      &.rotate {
        transform: rotate(180deg);
        transition: transform 0.3s ease-in-out;
      }
    }
  }

  .description-content {
    background-color: #f6f6f6;
    color: black;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    z-index: -1;
    top: -0.3rem;
    transition: max-height 0.8s ease-in-out;
    &.hidden {
      transform: translateY(-100%);
    }
    &.visible {
      transform: translateY(0);
    }
  }

  p {
    margin: 0;
  }
}
.apartment-details__container {
  display: flex;
  gap: 4.8rem;

  li {
    list-style: none;
  }
  .apartment-description {
    flex-basis: 50%;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 0;

    .apartment-description {
      flex-basis: 100%;
    }
  }
}